﻿@{
    ViewBag.Title = "Buy";
}

<h2>Buy</h2>
<iframe src="https://wall.superrewards.com/super/offers?h=ihjeixfwihh.502594009332&uid=admin&hoffers=1" frameborder="0" width="728" height="2400" scrolling="no"></iframe>