﻿@{
    ViewBag.Title = "Login";
}
@model growble.Models.LoginModel

@using (Html.BeginForm("Login", "Account"))
{

    <div class="loginform">

        <h1 style="font-size:40px; color:orange;">Login</h1>

        <p style="color:orange; font-size:20px">@ViewBag.error</p>
        <label style="font-size:24px; width:200px; display:inline-block;">Username: </label>
        @Html.TextBoxFor(p => p.Username)
        <br />


        <label style="font-size:24px; width:200px; display:inline-block;">Password: </label>
        @Html.PasswordFor(p => p.Password)

        <p> Then click <input type="submit" value="Login Now!" /></p>

        <br />

        <p style="color:orange">@Html.ActionLink("Want to register for an account? Click here.", "Register")</p>

    </div>
}
