﻿@{
    ViewBag.Title = "Register";
}
@model growble.Models.RegisterModel

@using(Html.BeginForm("Register","Account"))
{
    
<div class="loginform">

    <h1 style="font-size:40px; color:orange;">Register</h1>

    <p style="color:orange; font-size:20px">@ViewBag.error</p>

    <p>This is where you register for an account.</p>

    <label style="font-size:24px; width:200px; display:inline-block;">Username: </label>
    @Html.TextBoxFor(p => p.Username)
    <br />
    <p>You can only use alphanumeric charachers a,b,c,d,e.... etc. and 1,2,3,4,5,6,7... etc. no crazy chars! No punctation.
    All none alphanumeric chars are stripped out.</p>

    <label style="font-size: 24px; width: 200px; display: inline-block;">Email: </label>
    @Html.TextBoxFor(p=>p.Email)
    
    <p>
        We use email ONLY to contact you about OUR game - never sell you on or to advertisers - if you win a prize or something we'll
        let you know via email.
    </p>

    <label style="font-size:24px; width:200px; display:inline-block;">Password: </label>
    @Html.PasswordFor(p=>p.Password)

    <p>Make sure you type the password above correctly.</p>
    <label>Then Click:</label> <input type="submit" value="Register Now!"/>
    <p>If your username is allready taken - we'll send you back here - to chose another one. Then
    you can login and play the game - just click "client" in the menu bar above.</p>

    <p style="color:orange">@Html.ActionLink("Allready have an account? Click here.","Login")</p>
</div>
}