﻿<!DOCTYPE html>


<head>
    <title>Growble - Social Game</title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>

    <script type="text/javascript">stLight.options({ publisher: "614130ca-bac5-45e4-9224-14e709c4bcd9", doNotHash: false, doNotCopy: false, hashAddressBar: true });</script>

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55197963-1', 'auto');
    ga('send', 'pageview');

        @if (this.User.Identity.IsAuthenticated)
        {
            @Html.Raw("ga('set','&uid', '" + User.Identity.Name + "');");
        }

    </script>
</head>
<body>
    

    <div class="mainpage">

        <div class="mainpageheader">
            <div class="mainpage-dock">

                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Growble", "Index", "Home")
                </span>


                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Client", "Client", "Home")
                </span>

                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("News","News","Home")
                </span>



                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Community", "Community", "Home")
                </span>

                <span class="header-button" style="color:orange;">
                    <a href="http://www.growble.net/speak">Forums</a>
                </span>

                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Blog", "Blog", "Home")
                </span>

                @if(User.Identity.IsAuthenticated)
                {
                    
                    <span class="header-button" style="color:orange;">
                        @Html.ActionLink(User.Identity.Name, "Me", "Account")
                    </span>
                    <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Logout","Logout","Account")
                </span>
                }
                else
                {
                    <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Login","Login","Account")
                </span>
                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Register", "Register", "Account")
                </span>
                }
                

                
                <span class="header-button"  style="color:rgb(182, 255, 0);">
                    @{
                        growble.sim.Data.Repo.UserRepo urep = new growble.sim.Data.Repo.UserRepo();
                    }
                    <span style="font-size:24px;">@urep.PlayersLoggedIn()</span> Online!
                </span>

            </div>
        </div>
        <div class="mainpage-dock scroll">

            <div style="background-color:rgba(0,0,0,0.6); padding:10px;">

                @RenderBody()
            </div>

        </div>
    </div>
    <div class="mainpage-images" >
        <div class="mainpage-dock" >
            <p style="color:white;">(C) stardate 123.423.42 </p>

            <span class="header-button" style="color:orange;">
                @{
                    growble.sim.Data.Repo.AccountRepo arep = new growble.sim.Data.Repo.AccountRepo();


                }
                To date @arep.NumberOfUsers() Accounts Registered
            </span>


            <p>
                <b>Issues? Complaints? Bored? Contact / Support email: </b>
                <img style="display:inline; max-height:16px; line-height:24px;" src="~/Content/growblegameemail.png" />
            </p>


        </div>

    </div>
</body>