﻿@{
    ViewBag.Title = "About";
}

<h1>About page (list of things that changes constantly)</h1>

<h2>So this game is free... eh?</h2>
<span style="color:rgb(0, 148, 255); font-size:24px;"></span>
<p>Of course not - and - of course it is! </p>

<p>
    <span style="color:rgb(0, 148, 255); font-size:24px;">What can you buy?</span> Only one thing - a Growble certificate - that entitles you to one months 'member' status.</p>

<p>
    <span style="color:rgb(0, 148, 255); font-size:24px;">Why would you buy that?</span> Because - essentially - it lets you have more worlds. And to support a funky online game - one
that doesn't try and make you buy 'power ups'</p>

<p>
    <span style="color:rgb(0, 148, 255); font-size:24px;">How much does it cost?</span> It depends, nothing silly - probably around the 4/5$ per month mark.</p>

<p>
    <span style="color:rgb(0, 148, 255); font-size:24px;">Can I trade these?</span> Of course you can...</p>

<p>
    <span style="color:rgb(0, 148, 255); font-size:24px;">So I can pretty much buy gems?</span> Eh - thought you said it wasn't pay to win? </p>

<p>
    <span style="color:rgb(0, 148, 255); font-size:24px;">Let me explain...</span> </p>

<p>I don't like microtransactions - <a href="http://www.gamasutra.com/view/feature/195806/chasing_the_whale_examining_the_.php?print=1"> Read this for why. </a>
    - much prefering the subscription model. So that's what we went for. But by letting players trade 'membership', we enable the majority of people
    who don't have tonnes of disposable income - or a credit card - or whaterver - to be a member.
    
    </p>

<p>The reason we restrict the number of worlds is because it's directly tied to CPU usage on our servers which
    is directly tied to our expenses. So your input is proportional to your output.</p>

<p>
    <span style="color:rgb(0, 148, 255); font-size:24px;">Shutup and take my money!</span></p>

<div style="background-color: rgb(231, 38, 38); color: white; display: inline-block;  font-size: 60px; text-align: center; padding: 10px; border-radius: 10px;">

    @Html.ActionLink("Click here to subscribe or buy some Growble Tokens", "Buy", "Account")
</div>

<p>We advise all our players to spend responsibly - don't spend more than you can afford - our game is still fun without
    having multiple worlds.</p>

<h2>What the game is...</h2>
<ol>
    <li>Fun.</li>
</ol>

<h2>What the game isn't...</h2>

<h2>What the game is in relation to the meaning of life</h2>

<p>TBA</p>