﻿@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800,900italic' rel='stylesheet' type='text/css'>
<link href="~/Content/client.css" rel="stylesheet" />
<link href="~/Content/csshake.min.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>

<script>

    var servername = "@User.Identity.Name";

</script>
<div id="game-holder">

    <div id="game-canvas-gui">
        <div id="game-canvas-gui-forms"></div>
    </div>

    <div id="game-canvas">

    </div>

</div>


<script src="~/Scripts/jquery-1.8.2.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/phaser.js"></script>
<script src="~/Content/client/main.js"></script>
<script src="~/Content/client/ui/shop.js"></script>
<script src="~/Content/client/ui/hud.js"></script>
<script src="~/Content/client/core/player.js"></script>
<script src="~/Content/client/core/tile.js"></script>
<script src="~/Content/client/core/gameworld.js"></script>
<script src="~/Content/client/ui/movement.js"></script>
<script src="~/Content/client/ui/hud.js"></script>
<script src="~/Content/client/ui/picker.js"></script>
<script src="~/Content/client/states/load.js"></script>
<script src="~/Content/client/states/worlds.js"></script>

<script src="~/Content/client/states/worldPlay.js"></script>
<script src="~/Content/client/states/register.js"></script>
<script src="~/Content/client/states/login.js"></script>
<script src="~/Content/client/start.js"></script>