﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Community and Competitions and stuff..</h1>

@{
    growble.sim.Data.Repo.WebRepo wrep = new growble.sim.Data.Repo.WebRepo();
}

@foreach (var x in wrep.GetAllArticles("community"))
{

    <h2>@Html.ActionLink(x.Title, "Article",new { id = x.Id})</h2>

    <p> By @x.Author</p>

}