﻿@{
    ViewBag.Title = "News";
}

<h2>News</h2>

@{
    growble.sim.Data.Repo.WebRepo wrep = new growble.sim.Data.Repo.WebRepo();
}

@foreach(var x in wrep.GetAllArticles("news"))
{
    
    <h2>@Html.ActionLink(x.Title, "Article",new { id = x.Id})</h2>
    @Html.Raw(x.Text)
    
    <p> By @x.Author</p>
    
}