﻿
.article
{
    font-size:24px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

.article br
{
    padding:10px;
}

.newslink
{
    cursor:pointer;
}

.newslink a
{
    text-decoration:underline;
}

.loginform{

    padding:20px;
    background-color:#003166;

    border:10px solid #007BFF;
    border-radius:10px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

.loginform input
{
    font-size:24px;
    border:0;
    border-radius:10px;
    padding:5px;
}

.crayfont
{
	text-shadow: 0px 1px 1px #4d4d4d;
	color: #222;
}

a, a:hover, a:after
{
    color:white;
    text-decoration:none;
}
h1,h2
{
    font-size:30px;
    color:orange;
}

p{
    font-size:19px;

}

.pics
{
    padding-left:10px;
}

.pics img
{
    max-width:300px;
    min-width:300px;
}

.headline
{
    width:600px;
    max-height:400px;
    overflow:no-display;
    overflow:hidden;
}

html {
    background-color: black;
    margin: 0;
    padding: 0;
    background-color:white; font-family: 'Helvetica Neue', sans-serif;
    text-shadow: 4px 3px 23px rgba(0,0,0, 1);
}
body
{
    height:100%;
    padding:0;
    margin:0;
    color:white;
}
.mainpage
{
    background-color:rgba(0,0,0,0.9);
    min-height:90%;
    min-height:1000px;
    width:100%;
    background-image: url('assets/sprites/Brick.png');
    background-size:64px;
    background-repeat: repeat;

    padding:0;
    margin:0;
   
}
.mainpage-dock
{
    
    margin-left:auto;
    margin-right:auto;
    width:960px;

}
.mainpage-images
{
    background-color:black;
    height:10%;
    min-height:150px;
    width:100%;
    display:block;
    padding:10px;
    margin:0;
    padding:0;
    padding-top: 20px;
}

.news
{
    max-width:460px;
    float:left;
}

.other
{
    float:left;
    padding-left:40px;
}

h3 { font-size: 18px; text-decoration:underline; }
p { font-size:16px; text-decoration:none; }

.info-box
{
 
    margin:10px;
    margin-right:5px;
    margin-left:5px;
    display:inline-block;   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius:10px;

    background-color: rgba(102,182,252,0.2);
    border: 4px solid rgb(102,182,252);

    -webkit-box-shadow: 0px 0px 67px -4px black;
    -moz-box-shadow: 0px 0px 67px -4px black;
    box-shadow: 0px 0px 67px -4px black;
    padding-left:10px;
    padding-top:10px;
    width:200px;
    height:200px;

    overflow:hidden;
}

.info-box img
{
    max-height:300px;
    max-width:300px;
}
.info-box p
{
    text-align:center;
    height:180px;
    font-size:30px;
}
.button {

    background-color:rgb(255, 106, 0);
    width:200px;
    padding:10px;
    font-size:20px;
    display:block;
    text-align:center;
    text-decoration:none;
    font-family: 'Crimson Text', serif;-webkit-box-shadow: 10px 6px 16px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 6px 16px -6px rgba(0,0,0,0.75);
box-shadow: 10px 6px 16px -6px rgba(0,0,0,0.75);
margin-bottom:10px;
}
.bubble 
{
    border:0px;
    background-color:rgb(219, 51, 51);
    color:white;
    width:100%;
    min-height:20px;
}

.mainpageheader
{
    background-color:rgba(0,0,0,0.6);
    height:40px;
    margin-bottom:10px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(255,255,255, 0.75);
-moz-box-shadow:    3px 3px 5px 0px rgba(255,255,255, 0.75);
box-shadow:         3px 3px 5px 0px rgba(255,255,255, 0.75);
}

.header-button
{
    margin-left:10px;
    margin-right:10px;
    display:inline-block;
    font-size:18px;
    color:white;
    line-height:40px;
}
.header-button a
{
    color:white;
    text-decoration:none;
}


.header-button a:hover
{
    color:orange;
    text-decoration:none;
}

.shape {
    position: relative;
}
.shape > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 208.33333333333331px solid #517194;
    border-bottom: 208.33333333333331px solid #517194;
    left: 83.33333333333333px;
    top: 83.33333333333333px;
}
.shape > i+i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 41.666666666666664px solid transparent;
    border-right: 41.666666666666664px solid #007BFF;
    border-top: 41.666666666666664px solid #007BFF;
    left: 0px;
    top: 416.66666666666663px;
}
.shape > i+i+i {
    position: absolute;
    display: inline-block;
    width: 83.33333333333333px;
    height: 416.66666666666663px;
    background-color: #007BFF;
    left: 0px;
    top: 0px;
}
.shape > i+i+i+i {
    position: absolute;
    display: inline-block;
    width: 333.3333333333333px;
    height: 83.33333333333333px;
    background-color: #007BFF;
    left: 83.33333333333333px;
    top: 0px;
}
.shape > i+i+i+i+i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 41.666666666666664px solid transparent;
    border-left: 41.666666666666664px solid #007BFF;
    border-bottom: 41.666666666666664px solid #007BFF;
    left: 416.66666666666663px;
    top: 0px;
}

div.folded:before, div.folded:after {
    bottom: 26px;
    box-shadow: 0 28px 8px rgba(0,0,0,0.5);
    content: "";
    height: 28px;
    position: absolute;
    width: 48%;
    z-index: -1;
}
div.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
div.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
div.folded h2 {
    border-width: 1px 1px 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin: 0;
    padding: 4px 40px;
    position: absolute;
    right: -14px;
    top: 12px;
}
div.folded h2:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}