﻿@{
    Layout = null;
}
@model growble.Models.GemShopModel

<div> 

    <div>Search For: <input /></div>

    @foreach(var x in Model.catalog.Items)
    {
        var item = x as growble.sim.Object.Blocks.Types.IBuyable; 
        <div> @x.Name cost @item.Cost </div>
    }
</div>