﻿@{
    ViewBag.Title = "Edit";
}
@model growble.sim.Data.Article

@using(Html.BeginForm("Edit","Admin"))
{
    <h2>Add</h2>
    @Html.HiddenFor(p=>p.Id)
    @Html.HiddenFor(p=>p.Date)
    
    <label>Title</label>
    @Html.TextBoxFor(p=>p.Title)

    <label>Category</label>
    @Html.TextBoxFor(p=>p.Tag)

    <label>Text</label>
    @Html.TextAreaFor(p => p.Text)

    <label>Author</label>
    @Html.TextBoxFor(p=>p.Author)

    <input type="submit" />
}