﻿@{
    ViewBag.Title = "Login";
}
@model growble.Models.LoginModel

@using (Html.BeginForm("Login", "Account"))
{

    <div style="width:500px; margin-left:auto; margin-right:auto; background-color:rgba(0,0,0,0.5)">

        <h1 style="font-size:40px; color:orange;">Login</h1>

        <p style="color:orange; font-size:20px">@ViewBag.error</p>
        <label style="font-size:24px; width:200px; display:inline-block;">Username: </label>
        @Html.TextBoxFor(p => p.Username)
        <br />


        <label style="font-size:24px; width:200px; display:inline-block;">Password: </label>
        @Html.PasswordFor(p => p.Password)

        <p> Then click <input type="submit" value="Register Now!" /></p>
    </div>
}
