﻿@{
    ViewBag.Title = "Add";
}
@model growble.sim.Data.Article

@using(Html.BeginForm("Add","Admin"))
{
    <h2>Add</h2>

    <label>Title</label>
    @Html.TextBoxFor(p=>p.Title)

    <label>Category</label>
    @Html.TextBoxFor(p=>p.Tag)

    <label>Text</label>
    @Html.TextAreaFor(p => p.Text)

    <label>Author</label>
    @Html.TextBoxFor(p=>p.Author)

    <input type="submit"/>
}
