﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Add New", "Add")

@{
    growble.sim.Data.Repo.WebRepo wr = new growble.sim.Data.Repo.WebRepo();
}
@wr.GetAllArticles().Count()

@foreach(var z in wr.GetAllArticles())
{
    <p>@z.Title</p> @Html.ActionLink("Edit", "Edit", new { id = z.Id.ToString() })
}
