﻿.infoform
{
    
    color:rgba(102,182,252,1); display:inline-block; 
    padding:10px;
    border:3px solid rgba(102,182,252,1);
    border-radius:3px;
    margin:10px;
    position:absolute;
    top:200px;
    left:200px;
    background-color:rgba(102,182,252,0.6);
    width:250px;
}

.infoform input
{
    background-color: transparent;
    border: 3px solid white;
    padding: 5px;
    width: 90%;
    font-size:24px;
    border-radius:3px;
    color:white;
}

.infoform p
{
    font-size:20px;
    padding:0;
    color:white;
}

.infoform label
{
    font-size:20px;
    padding:0;
    color:white;
    width:100%;
}

.infoform h2
{
    padding:0;
    margin:0;
    margin-bottom:6px;
    font-size:32px;
}

.infoform-ok
{
    width: 45%;
    background-color: rgb(124, 199, 62);
    color: white;
    font-size: 34px;
    border: 0;
    padding:2%;
    border-radius: 10px;
}

.infoform-ok:active, .infoform-cancel:active
{
    background-color:white;
    color:blue;
}
.infoform-cancel
{
    width: 45%;
    padding:2%;
    margin-left:2%;
    background-color:rgb(199, 62, 62);width: 45%;
    color: white;
    font-size: 34px;
    border: 0;
    border-radius: 10px;
}



.start-world
{
    color:rgba(102,182,252,1); display:inline-block; 
    padding:10px;
    border:3px solid rgba(102,182,252,1);
    border-radius:3px;
    margin:10px;
}

html
{
    font-family: Arial;
    font-weight: 500;
}

.canvas-unclickable
{
    pointer-events: none;
}

.load-bar
{
    width:0%;
    min-height:20px;
    background-color:red;
}
#game-holder
{
    
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}
#game-canvas
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}
#game-canvas-gui
{
    width:100%;
    height:100%;
    position:absolute;
    z-index:10;
    background-color:transparent;
    top:0;
    left:0;
    pointer-events: none;
}

#game-canvas-gui > *
{
    
    pointer-events: visible;
}

#game-canvas-chat
{
    width:100%;
    height:100%;
    position:absolute;
    z-index:10;
    background-color:transparent;
    top:0;
    left:0;
}

.form
{
    border:4px solid rgb(124, 199, 62);
    border-radius:10px;
    background: rgb(178,225,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(178,225,255,1)), color-stop(100%,rgba(102,182,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}


.option
{
    font-size:5vh;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:gold;

    cursor:pointer;
}


.login-option
{
    
    font-size:5vh;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:gold;
    
    font-size:5vh;
}


.login-option input
{
    width: 50vw;
    height: 5vh;
    background-color:black;
    border:0.5vh solid gold;
    border-radius:10px;
    color:white;
    font-size:4vh;
    margin-bottom:0.5vh;
}

.login-option submit
{
    width: 50vw;
    display:inline-block;
    height: 6vh;
    background-color:black;
    border:0.5vh solid gold;
    border-radius:10px;
    color:white;
    font-size:5vh;
    cursor:pointer;
}


.login-option submit:hover
{
    
    background-color:gold;
    color:black;
}


.login-option p
{
    
    font-size:4vh;
    color:rgb(187, 46, 46);
}

.option:hover
{
    color:silver;
}

.world-input 
{
    width:50vw;
    margin-left:auto;
    margin-right:auto;
}

.world-input input
{
    width:38vw;
    display:inline-block;
    height: 6vh;
    background-color:black;
    border:0.5vh solid gold;
    border-radius:10px;
    color:white;
    font-size:5vh;
    cursor:pointer;
}

.world-input submit
{
    width: 8vw;
    display:inline-block;
    height: 6vh;
    background-color:black;
    border:0.5vh solid gold;
    border-radius:10px;
    color:white;
    font-size:5vh;
    text-align:center;
}

.chat
{
    height:200px;
    width:900px;
    bottom:0;
    left:50%;
    margin-left: -450px;
    background-color:gold;
    position:absolute;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: rgba(102,182,252,0.2);
    border: 10px solid rgb(102,182,252);
    border-bottom: 0;

    -webkit-box-shadow: 0px 0px 67px -4px black;
    -moz-box-shadow: 0px 0px 67px -4px black;
    box-shadow: 0px 0px 67px -4px black;
    padding-left:10px;
    padding-top:10px;

}

.chat > *
{
    overflow:hidden;
}
.chatchooser
{
    position:absolute;
    margin-top:-50px;
    height:40px;
    z-index:20;

}


.chatchooser div
{
    background-color:rgba(102,182,252,1);
    color:white;
    display:inline-block;
    padding-left:20px;
    padding-right:20px;
    margin-right:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border: 10px solid rgb(102,182,252);
    text-align:center;
    
    -webkit-box-shadow: 0px 0px 67px -4px black;
    -moz-box-shadow: 0px 0px 67px -4px black;
    box-shadow: 0px 0px 67px -4px black;
}


.chatchooser div:hover
{
    
    background-color:rgb(181, 220, 255);
}

.chat input
{
    background-color: rgba(102,182,252,0.2);
    border: 5px solid rgb(102,182,252);
    width:98%;

    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:28px;
    font-size:24px;
    color:white;
}

.chat ul
{
    background-color: rgba(102,182,252,0.2);
    border: 5px solid rgb(102,182,252);
    width:98%;
    padding:0;
    margin:0;
    margin-top:10px;
    font-size:24px;
    color:white;

    height:135px;
    max-height:135px;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#lifepoints
{

}
.hud-gems
{
    position:absolute;
    right:0;
    width:200px;
    top:100px;
}

.hud-gems img
{
    height: 32px;
    width:32px;
    display:inline-block;
}


.hud-gems p
{
    color: rgb(255, 155, 155);
    font-size: 42px;
    display: inline-block;
    text-shadow: 2px 2px rgb(102, 25, 25);
    padding-left: 30px;
}


.hud-life
{
    position:absolute;
    right:0;
    width:200px;
    top:0;
}

.hud-life img
{
    height: 32px;
    width:32px;
    display:inline-block;
}


#hud-life-points
{
    color: rgb(255, 155, 155);
    font-size: 42px;
    display: inline-block;
    text-shadow: 2px 2px rgb(102, 25, 25);
    padding-left: 30px;
}


.hud-gems:hover
{
    background-color:gold;
}

.inventory-item
{
    height:50px;
    width:50px;
    border:2px solid rgba(102,182,252,1);
    margin-right:5px;
    margin-bottom:5px;
    display:inline-block;
    position:relative;

    background-color: rgba(102,182,252,0.6);
    border-radius:2px;
}


.inventory-item:hover
{

}

.inventory-item img
{
    width:100%;
    height:100%;
}


.inventory-item-equiped
{
    
    border:2px solid rgb(252, 109, 102);
}

.inventory-item p
{
    position: absolute;
    color: white;
    top: -40px;
    
    line-height:50px;
}

.shop
{
    
    height:80%;
    width:900px;
    top:0;
    left:50%;
    margin-left: -450px;
    position:absolute;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: rgba(102,182,252,0.9);
    border: 10px solid rgb(102,182,252);
    border-bottom: 0;

    -webkit-box-shadow: 0px 0px 67px -4px black;
    -moz-box-shadow: 0px 0px 67px -4px black;
    box-shadow: 0px 0px 67px -4px black;
    padding-left:10px;
    padding-top:10px;
    color:white;
}

.item-equipped
{
    border: 2px solid  gold;
}

.shop-item
{
    float:left;
    width:100px;
    height:100px;
}

.shop-item img
{
    width:100%;
    height:100%;
}

.error
{
    height:60px;
    top:20px;
    left:20px;
    display:inline-block;

    border-radius:10px;

    background-color: rgba(102,182,252,0.2);
    border: 10px solid rgb(102,182,252);

    -webkit-box-shadow: 0px 0px 67px -4px black;
    -moz-box-shadow: 0px 0px 67px -4px black;
    box-shadow: 0px 0px 67px -4px black;
    padding-left:10px;


    color:orange;
    margin-right:20px;
    font-size:40px;
    text-align:center;
    padding-top:10px;
}


.info
{
    height: 60px;
    top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgba(102, 182, 252, 0.2);
    border: 3px solid rgb(102, 182, 252);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-box-shadow: black 0px 0px 67px -4px;
    box-shadow: black 0px 0px 67px -4px;
    padding-left: 10px;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}


.game-chat
{
    display:inline-block;

    border-radius:10px;

    background-color: rgba(102,182,252,0.2);
    border: 3px solid rgb(102,182,252);

    -webkit-box-shadow: 0px 0px 67px -4px black;
    -moz-box-shadow: 0px 0px 67px -4px black;
    box-shadow: 0px 0px 67px -4px black;


    color:orange;
    font-size:20px;
    text-align:center;
    padding-top:10px;
}