﻿@{
    ViewBag.Title = "Article";
}
@model growble.sim.Data.Article

<div class="article">
    <h2>Article: @Model.Title </h2>
    @Html.Raw(@Model.Text)
</div>

<hr/>

<span>By @Model.Author | @Model.Date.ToShortDateString() </span>


<hr />
<span class='st_sharethis_large' displaytext='ShareThis'></span>
<span class='st_facebook_large' displaytext='Facebook'></span>
<span class='st_twitter_large' displaytext='Tweet'></span>
<span class='st_googleplus_large' displaytext='Google +'></span>
<span class='st_reddit_large' displaytext='Reddit'></span>
<span class='st_plusone_large' displaytext='Google +1'></span>
<span class='st_fblike_large' displaytext='Facebook Like'></span>
<span class='st_yammer_large' displaytext='Yammer'></span>
<span class='st_linkedin_large' displaytext='LinkedIn'></span>
<span class='st_pinterest_large' displaytext='Pinterest'></span>
<span class='st_email_large' displaytext='Email'></span>

<hr />

<span>Comments</span>
<br/>
<div id="fb-root"></div>
<script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1694859090738248&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    
    </script><div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="10" data-colorscheme="dark"></div>