﻿@{
    ViewBag.Title = "Blog";
}
<h1> Development Blog </h1>
@{
    growble.sim.Data.Repo.WebRepo wrep = new growble.sim.Data.Repo.WebRepo();
}

@foreach (var x in wrep.GetAllArticles("blog").OrderByDescending(p => p.Date))
{

    <h2 class="newslink">
        @Html.ActionLink(x.Title, "Article", new { id = x.Id }) | @x.Date.ToShortDateString() @x.Date.ToShortTimeString()

        @if ((DateTime.Now - x.Date).Days < 4)
        {
            <span style="color:red">New!</span>
        }

    </h2>

}