﻿@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}
<script src="//virool.at/js/widget.overlay.js" type="text/javascript"></script>

<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,800,900italic' rel='stylesheet' type='text/css'>
<link href="~/Content/client.css" rel="stylesheet" />
<link href="~/Content/csshake.min.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>

<script>

    var servername = "@User.Identity.Name";
    var serverworld = "@ViewBag.World";

</script>
<div id="game-holder">

    <div id="game-canvas-gui">
        <div id="game-canvas-gui-forms"></div>
    </div>

    <div id="game-canvas">

    </div>

</div>

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
<script src="~/Scripts/phaser.js"></script>

@Scripts.Render("~/client/game")