﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Community and Competitions and stuff..</h1>
<p>
    <b>Contact / Support email: </b>
    <img style="display:inline; max-height:16px; line-height:24px;" src="~/Content/growblegameemail.png" />
</p>
@{
    growble.sim.Data.Repo.WebRepo wrep = new growble.sim.Data.Repo.WebRepo();
}

@foreach (var x in wrep.GetAllArticles("community").OrderByDescending(p=> p.Date))
{

    <h2 class="newslink">@Html.ActionLink(x.Title, "Article",new { id = x.Id}) | @x.Date.ToShortDateString() @x.Date.ToShortTimeString()
    
    @if ((DateTime.Now - x.Date).Days < 4)
    {
        <span style="color:red">New!</span>
    }
    
    </h2>

}