﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    growble.sim.Data.Repo.WebRepo wrep = new growble.sim.Data.Repo.WebRepo();

    var all = wrep.GetAllArticles();

    var news = wrep.GetAllArticles("news").Last();
    var blog = wrep.GetAllArticles("blog").Last();
    var community = wrep.GetAllArticles("community").Last();
}

<div style="background-color:rgba(0,0,0,0.1); width:600px; padding:10px; min-height:800px; float:left;">
    <img src="~/Content/growble.png" />
    <p style="font-size:20px;">A social sandbox game - <b>runs 100% in the Browser</b>, free to play!</p>
    <p style="font-size:20px;"> ALPHA - this is a very early alpha game (very very early!!)</p>
    <iframe width="600px" height="510" src="//www.youtube.com/embed/wj3uwrW-Dp8" frameborder="0" allowfullscreen></iframe>
    <div class="headline">
        <h2 style="color:rgb(0, 148, 255)">Latest News @Html.ActionLink("More >", "News") </h2>

        @news.Title | @Html.Raw(news.Text)

    </div>
    <div class="headline">
        <h2 style="color: rgb(0, 148, 255)">Latest from the Blog @Html.ActionLink("More >", "Blog")</h2>

        @blog.Title | @Html.Raw(blog.Text)

    </div>
    <div class="headline">
        <h2 style="color: rgb(0, 148, 255); ">Latest Competitions @Html.ActionLink("More >", "Community")</h2>


        @community.Title | @Html.Raw(community.Text)
    </div>


    <hr/>
    <span class='st_sharethis_large' displaytext='ShareThis'></span>
    <span class='st_facebook_large' displaytext='Facebook'></span>
    <span class='st_twitter_large' displaytext='Tweet'></span>
    <span class='st_googleplus_large' displaytext='Google +'></span>
    <span class='st_reddit_large' displaytext='Reddit'></span>
    <span class='st_plusone_large' displaytext='Google +1'></span>
    <span class='st_fblike_large' displaytext='Facebook Like'></span>
    <span class='st_yammer_large' displaytext='Yammer'></span>
    <span class='st_linkedin_large' displaytext='LinkedIn'></span>
    <span class='st_pinterest_large' displaytext='Pinterest'></span>
    <span class='st_email_large' displaytext='Email'></span>

    <hr/>
    <a class="twitter-timeline" href="https://twitter.com/GrowbleGame" data-widget-id="515818093558247425">Tweets by @@GrowbleGame</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<div style="float:right; width: 290px; min-height:800px; margin-left:10px; background-color:rgba(0,0,0,0.1)" class="pics">

    <a class="crayfont" href="Home/Client" style="width:260px; background-color:rgb(231, 38, 38);color:white; display:inline-block; height: 70px; font-size:60px;
text-align:center; padding:10px;  border-radius:10px;">
        Play!
    </a>

    <p style="color:white; padding:0; margin:0; font-size:33px">Meet, Build, Create</p>

    <a class="crayfont" href="Account/Register" style="width:260px; background-color:rgb(231, 151, 38);color:white; display:inline-block; height: 70px; font-size:60px;
text-align:center; padding:10px;  border-radius:10px; margin-top:10px;">
        Register!
    </a>


    <a class="crayfont"  href="Account/Register" style="width:260px; background-color:rgb(79, 231, 38);color:white; display:inline-block; height: 70px; font-size:60px;
text-align:center; padding:10px;  border-radius:10px; margin-top:10px;">
        Create!
    </a>
    

    <img src="~/Content/crazy-brain.png" />
    <p style="font-size:20px; color:rgb(225, 103, 207);">Professor Brain says: <span style="color:white">"Play Growble for the ultimate
        sandbox social game available, and play in the browser. Or get lost."</span></p>
    <img src="~/Content/screen1.jpg" />
    <p style="font-size:20px; color:rgb(225, 103, 207);">
        Professor Brain says: <span style="color:white">
            "Ice is cold. Do not eat Ice."
        </span>
    </p>
    <img src="~/Content/screen3.png" />

    <p style="font-size:20px; color:rgb(225, 103, 207);">
        The Curator says: <span style="color:white">
            "Modern art is all the 'ing same"
        </span>
    </p>

    <img src="~/Content/playzegame.png" />

    <p style="font-size:20px; color:rgb(225, 103, 207);">
        Professor Brain's assistant says: <span style="color:white">
            "Want to win some gems - of course you do - share with us your best captioned screenshot for a chance to win fame, infamy and everything
        in between."
        </span>
    </p>
    <img src="~/Content/screen7.png" />

    <p style="font-size:20px; color:rgb(225, 103, 207);">
        Professor Brain says: <span style="color:white">
        Don't run with screwdrivers - the're always faster.
        </span>
    </p>
</div>

<div style="clear:both;"></div>
