﻿@{
    ViewBag.Title = "News";
}

<h2>News</h2>

@{
    growble.sim.Data.Repo.WebRepo wrep = new growble.sim.Data.Repo.WebRepo();
}

@foreach (var x in wrep.GetAllArticles("news").OrderByDescending(p => p.Date))
{

    <h2 class="newslink">
        @Html.ActionLink(x.Title, "Article", new { id = x.Id }) | @x.Date.ToShortDateString() @x.Date.ToShortTimeString()

        @if ((DateTime.Now - x.Date).Days < 4)
        {
            <span style="color:red">New!</span>
        }

    </h2>

}