﻿<!DOCTYPE html>


<head>
    <title>Growble - Social Game</title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>