﻿<!DOCTYPE html>


<head>
    <title>Growble - Social Game</title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>

    <script type="text/javascript">stLight.options({ publisher: "614130ca-bac5-45e4-9224-14e709c4bcd9", doNotHash: false, doNotCopy: false, hashAddressBar: true });</script>
</head>
<body>

    <div class="mainpage">

        <div class="mainpageheader">
            <div class="mainpage-dock">

                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Growble", "Index", "Home")
                </span>


                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Client", "Client", "Home")
                </span>

                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("News","News","Home")
                </span>



                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Community / competitions", "Community", "Home")
                </span>

                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Blog", "Blog", "Home")
                </span>

                @if(User.Identity.IsAuthenticated)
                {
                    
                    <span class="header-button" style="color:orange;">
                        HEY @User.Identity.Name
                    </span>
                    <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Logout","Logout","Account")
                </span>
                }
                else
                {
                    <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Login","Login","Account")
                </span>
                <span class="header-button" style="color:orange;">
                    @Html.ActionLink("Register", "Register", "Account")
                </span>
                }
                

                
                <span class="header-button"  style="color:green;">
                    @{
                        growble.sim.Data.Repo.UserRepo urep = new growble.sim.Data.Repo.UserRepo();
                    }
                    <span style="font-size:24px;">@urep.PlayersLoggedIn()</span> Online!
                </span>

            </div>
        </div>
        <div class="mainpage-dock scroll">

            <div style="background-color:rgba(0,0,0,0.6); padding:10px;">

                @RenderBody()
            </div>

        </div>
    </div>
    <div class="mainpage-images">
        <div class="mainpage-dock">
            <p style="color:white;">(C) stardate 123.423.42 </p>

            <span class="header-button" style="color:orange;">
                @{
                    growble.sim.Data.Repo.AccountRepo arep = new growble.sim.Data.Repo.AccountRepo();


                }
                To date @arep.NumberOfUsers() Accounts Registered
            </span>


            <p>
                <b>Issues? Complaints? Bored? Contact / Support email: </b>
                <img style="display:inline; max-height:16px; line-height:24px;" src="~/Content/growblegameemail.png" />
            </p>


        </div>

    </div>
</body>